# =========================
# GIT
# =========================
.git
.gitignore

# =========================
# ENV
# =========================
.env
.env.*

# =========================
# BUILD
# =========================
target/
node_modules/

# =========================
# IDE
# =========================
.idea
.vscode
*.iml

# =========================
# LOGS
# =========================
*.log

# =========================
# DOCS
# =========================
README.md
HELP.md

# =========================
# OS
# =========================
.DS_Store
Thumbs.db